#page-home {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 30px;
  }
#page-middle{
  margin: 0 auto;
  width: 460px;
  position: relative;
}
  form.login-user-form{
    width: 460px;
    margin: 0 auto;
  
    background: #FFFFFF;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
  
    padding: 30px;
  
    overflow: hidden;
    
  }
  form.login-user-form h1{
    display: flex;
    color: #495358;
    margin-bottom: 8px;
    line-height: 24px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px; 
    font-size: 32px;
  }
  form.login-user-form .containercenter {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
  
  }

  form.login-user-form .input-block + .input-block {
    margin-top: 24px;
    height: 64px;
    width: 100%;
  
  }

  form.login-user-form  .input-block input {
  height: 44px;
  padding: 0 10px;
  font-size: 32px;
  
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  outline: none;
  width: 100%;
}

  form.login-user-form .input-block label {
    display: flex;
    color: #495358;
    margin-bottom: 8px;
    line-height: 24px;
    font-size: 32px;
  }

  form.login-user-form  button.login-button {
    margin-top: 64px;
  
    width: 100%;
    height: 44px;
    border: 0;
    cursor: pointer;
    background: #060b26;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 800;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 32px;
    transition: background-color 0.2s;
    
  }
  
  form.login-user-form  button.login-button svg {
    margin-right: 16px;
  }
  
  form.login-user-form  button.login-button:hover {
    background: #060b26;
  }
  form.login-user-form .containerpsw{
    padding: 30px;

  }
  #rodape{
    display: flex;
 
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 11px;
    padding-top: 14px;
}
  