.task-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.plus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    color: #060b26;
    font-size: 22px;
}

.drop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    color: #060b26;
}
.drop  .dropdown-toggle:hover {
    color: #060b26;
    background-color: white;
}

.dropItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    color: #060b26;
}
.dropItem .button:hover{
    background-color: white;
} 